/*@charset "UTF-8"

*{
    font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 10px;
margin: 10px;
box-sizing: border-box;
background-image:#247025 ;
}

#btnSubmit {
    display: block;
}

body, html {
    background:  #247025 url(../fanese_l.jpeg) no-repeat ;
    height: 100vh;
    width: 100vw;
    font-size: 1.2em;
    color: rgb(187, 19, 19);
}

main{
position: relative;
height: 100vh;
width: 100vw;
}

section#login {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
overflow: hidden;
color: white;


    background-color: #247025;
    width: 660px;
    height: 415px;
    border-radius: 10px;
    box-shadow:  10px 10px 10px  rgba(0, 0, 0, 0.404);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background:#247025 
    background-size: cover;
    background-position: right;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    font-size: 30px;
    text-align: center;
    font-family:  'Open Sans';

}


form > div.campo {
    background-color: #247025;
    border: 1.8px solid rgba(59, 59, 59, 0.473);
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin: 8px 0px;
    
}

div.campo > label {
    display: none;
}

div.campo > i {
    color: white;
    background-color: #247025;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
div.campo > input{
    background-color: #247025;
    font-size: 1.em;
  width: 92%;
    height: 64%;
    margin: auto;
     
    border: 0px;
    border-radius: 5px;
    padding: 4px;
    
}

div.campo > input:focus-within{

}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 70%;
    height: 40px;
    background-color:white ;
    color: #247025;
    border: block;
    border-radius: 5px;
    cursor: pointer;
    
}

form > input[type=submit]:hover{
    background-color: #247025;
    color: white;
    
}


